@font-face {
    font-family: "Digital Dismay";
    src: url("../fonts/digital-dismay.otf") format("truetype");
}

@font-face {
    font-family: "Press Start";
    src: url("../fonts/prstart.ttf");
}

:root {
    --primary: rgb(220, 185, 255);
    --sec: rgb(105, 58, 151);
    --board-bgc: rgb(2, 15, 29);
    --darkblue: rgb(0, 12, 26);
  }

*{
    user-select: none;
}
html,body{
    overflow-x: hidden;
}
body,body *{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: "Press Start";
    color: rgb(255, 255, 255);  
    background-color: rgb(246, 238, 255);
}
button{
    cursor:pointer;
}

.game-wrap{
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100vh - 40px);
    display: flex;
    justify-content: center;
    align-items: stretch;
}
/* .right{
    border-radius: 0px 20px 20px 0px;
    flex: 2 2 0;
    padding: 20px;
    background-color: rgb(0, 12, 26);
    max-width: 33%;
} */
.right{
    /* max-width: 60%; */
    position: relative;
    flex: 3 2 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em 4em;
    background:var(--board-bgc);
    border-radius: 0px 20px 20px 0px;
}
.right p {
    margin-bottom: 30px;
}
.left{
    position: relative;
    max-width: 50%;
    border-radius: 20px 0px 0px 20px;
    flex: 2 2 0;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: var(--darkblue);
    text-align: center;
}

.levels{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}
.btn{
    width: 100%;
    padding: 20px;
    background-color: transparent;
    color: var(--primary);
    font-family: "Press Start";
    border: 1px solid grey;
    transition: 0.1s border;
}
.btn:hover{
    border: 1px solid var(--primary);
    
}

.heart{
    transition: opacity 1s;
    height: 26px;
    vertical-align: middle;
}
.helper-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* flex-direction: column; */
    flex-wrap: wrap;
    
}

.helper{
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0px;
    max-width: 360px;
    color: #fff;
    transition: 0.3s background-color;
}
.helper:disabled{
    cursor: not-allowed;
    background-color: rgba(255, 255, 255, 0.89);
}
.btn-img{
    height: 24px;
    vertical-align: middle;
}
.helper-span{
    color: var(--primary);
    text-align: center;
    transition: all 0.3s;
    opacity: 0;
    margin-top: 10px;
}
.helper-counter{
    font-size: 12px;
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 5px;
    z-index: 2;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--sec);
    color: white;
}

.mine-title{
    position: absolute;
    text-align: left;
    font-size: 1.25em;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--primary);
}
.lives{
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
    position: absolute;
    bottom: 45px;
    right: 50%;
    transform: translateX(50%);
}
.lives span{
    color: var(--primary);
    font-size: 1.5em;
}

table{
    margin: 20px auto;
    /* width: 400px; */
    
    border-top: 4px solid rgba(255, 255, 255, 0.705);
    border-left: 4px solid rgba(255, 255, 255, 0.705);
    border-right: 4px solid grey;
    border-bottom: 4px solid grey;
    border-spacing: 0px;
    /* border-color: rgb(221, 221, 221); */
}
td{
    background-color: #C0C0C0;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #7B7B7B;
    border-bottom: 3px solid #7B7B7B;
    border-left: 3px solid #ffffff;
    vertical-align: center;
    text-align: center;
    font-size: 1em;
}
.status-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    margin: 6px;
    border-top: 3px solid #7B7B7B;
    border-right: 3px solid #ffffff;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #7B7B7B;
}
.timer, .bomb-counter {
    font-family: 'Digital Dismay';
    font-size: 35px;
    letter-spacing: 1px;
    color: red;
    background-color: black;
    text-align: center;
    padding: 3px 3px 0 6px;
}
.reset{
    text-align: center;
    width: 35px;
    height: 35px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #7B7B7B;
    border-bottom: 3px solid #7B7B7B;
    border-left: 3px solid #ffffff;
}
.reset img{
    width: 100%;
}
.reset:hover{
    cursor: pointer;
}
.level{
    position: relative;
}
.best-score{
    transition: 0.3s all;
    opacity: 0;
    color: white;
    position: absolute;
    width: 100%;
    bottom: -40px;
    right: 50%; 
    transform: translateX(50%);
    pointer-events: none;
    font-family: arial;
    font-weight: 600;
}
.selected{
    border-top: 3px solid #7B7B7B;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #7B7B7B;
    /* background-image:linear-gradient(135deg,#d3d3d3f6,rgba(255, 255, 255, 0.7)) ; */
}
tbody tr td{
    min-width: 20px;
    height: 20px;
    /* min-height: 25px; */
    padding: 3px;
    object-fit: contain;
}
/* not displayed by default */
.cell *{
    display: none;
}
tbody tr td img{
    font-size: 12px;
    width: 18px;
    height: 18px;

    object-fit: cover;
    /* height: 20px; */
}
.revealed{
    display: inline-block;
}
footer{
    color: var(--darkblue);
    font-family: arial;
    font-weight: 600;
    font-size: 13px;
    text-align: center;
    margin-top: -1.2em;
}


.hint{
    /* border-top: 3px solid var(--sec);
    border-right: 3px solid var(--primary);
    border-bottom: 3px solid var(--primary);
    border-left: 3px solid var(--sec); */
    animation: blink 0.2s ease infinite alternate ;
}

.mega-mark{
    background-color: rgb(255, 177, 177);
}

.safe{
    animation: blink 0.2s ease infinite alternate ;
}

.footer-mygit{
color: var(--sec);
}
.footer-mygit:hover{
    color: #FF2968;
}
.footer-mygit:visited{
    color: none;
}

@keyframes blink{
    from{
        border: 3px solid rgba(255, 255, 255, 0.644)
    }
    to{
        border: 3px solid rgba(255, 238, 0, 0.781)
    }
}